
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    overflow-x: hidden;
    font-family: 'Frank Ruhl Libre', serif;
}

.row {
    max-width: 100%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}


/* --------NAV------- */

.navbar {
    height: 15vh;
    background-color: rgba(160, 104, 51, 0.877);
    border-bottom: 3px solid rgb(177, 177, 177);
}

.navbar ul {
    width: 100%;
    position: relative;
    top: 30%;
}

.navbar a:link,
.navbar a:visited {
    color: rgb(230, 227, 227);
    text-decoration: none;
    font-size: 110%;
}

.navbar a:hover,
.navbar a:active {
    border-bottom: 1px solid  rgb(230, 227, 227);
}

.navbar li {
    display: inline-block;
    padding-left: 4%;
    text-transform: uppercase;
}

.navbar .contact-bar {
    width: 40%;
    position: relative;
    bottom: 30%;
    left: 65%;
}

.navbar .contact-bar span {
    color: rgb(230, 227, 227);
    padding-left: 5%;
    font-size: 90%;
}

.contact-bar span a:hover {
    border-bottom: none;
}

.active-nav-link {
    border-bottom: 2px solid rgb(46, 48, 71);
}

/* --------MAIN PART - Home Page------- */

.main-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.609), rgba(0, 0, 0, 0.609)), url(/css/img/background_image.jpg);
    padding: 20%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main-head {
    text-align: center;
    font-size: 380%;
    color: rgba(155, 95, 39, 0.877);
    animation: fade-in 2.5s;
}

.main-row {
    padding: 6% 0;
    background-color: rgb(246, 246, 255);
}

.main-box {
    position: relative;
    left: 16%;
}

.main-box:last-of-type {
    margin-top: 2%;
}

.main-box img {
    opacity: 0.8;
    width: 30%;
    margin-left: 3%;
    transform: scale(1.11);
    transition: transform 0.5s, opacity 0.5s;
}

.main-box img:hover {
    opacity: 1;
    transform: scale(1.07);
}

@keyframes fade-in {
    from { 
        opacity: 0;
        margin-right: -100%;
    }
    to   { 
        opacity: 1;
        margin-right: 0;
    }
  }


/* --------ABOUT ME/NAME------- */

.floatleft::after,
.floatright::after {
    clear: both;
}

.floatleft {
    float: left;
    width: 50%;
    height: 90vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/css/img/o_meni.jpg);
    background-position: center;
    background-size: cover;
}

.floatright {
    float: right;
    background-color: rgb(230, 227, 227);
    height: 90vh;
    width: 50%;
}

.about_me {
    margin-top: 20%;
    animation: mymove 2s;
}

.floatright h1 {
    margin-left: 50%;
    color: rgb(224, 158, 71);
}

.floatright p {
    margin-top: 10%;
    margin-left: 5%;
    width: 90%;
    text-indent: 5%;
}

@keyframes mymove {
    from { 
        margin-top: 0%;
    }
    to   { 
       margin-top: 20%;
    }
  }

/* --------SERVICES------- */

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 15% 70% 15%; 
    grid-template-areas:
        "h h h h h h h h h h h h"
        "m m m c c c c c c c c c"
        "m m m c c c c c c c c c"
        "m m m c c c c c c c c c"
        "f f f f f f f f f f f f";
}

.header {
    grid-area: h;
}

.container .navbar {
    padding-top: 1.5%;
}

.container .contact-bar {
   position: relative;
   top: 2%;
   left: 65%;
   width: 40%;
}

.menu {
    grid-area: m;
    background-color: rgba(241, 241, 241, 0.924); 
    position: relative;
    border-right: groove;
}

.menu a {
    display: block;
    text-align: center;
    margin-top: 5%;
    padding-bottom: 5%;
    text-decoration: none;
    color: #000;
} 

.menu a:hover {
    color: rgb(82, 82, 82);
    font-size: 105%;
    transition: 0.4s;
}

.menu img {
    width: 80%;
    position: absolute;
    bottom: 25%;
    left: 10%;
}

.services {
    margin-top: 20%;
}

.content {
    grid-area: c;
    background-color: rgb(223, 219, 219);
}

.content h2 {
    padding: 3% 0 2% 0; 
}

.content h2:after {
    display: block;
    height: 2px;
    background-color: rgba(160, 104, 51, 0.877);
    content: " ";
    width: 10%;
    margin: 2% 0 0 13%;
}

.text {
    margin: 10% 3% 0 3%;
}

.border {
    border-style: ridge;
    margin: 2% 0;
    padding: 2% 1%;
    text-indent: 5%;
    animation: move 2.5s;
}

.border:last-child {
    margin-bottom: 5%;
}

footer ul {
    margin-bottom: 1%;
}

.container .social-links a {
    color: rgb(65, 65, 247);
}

@keyframes move {
    from {
        opacity: 0;
        transform: translateY(200px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*-----TOOLTIP------*/

.tooltip {
    position: relative;
}

.services a::before {
    content: attr(data-tooltip);
    background: rgb(216, 214, 214);
    color: #222;
    position: absolute;
    left: 55%;
    bottom: -12%;
    white-space: nowrap;
    opacity: 0;
    filter: Alpha(opacity=0);
    transition: opacity 0.4s ease-out;
}

.services a:hover::before {
    opacity: 1;
    filter: Alpha(opacity=100);
}

/*------Carousel-------*/

.carousel-inner {
    width: 100%;
    height: 100vh;
}
.carousel-item img {
    width: 100%;
    background-position: center;
    background-size: cover;
}

.carousel-control-prev-icon, 
.carousel-control-next-icon {
    position: relative;
    top: 25%;
}

/*------FORM-------*/

.container-form {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 15% 70% 15%; 
    grid-template-areas:
        "h h h h h h h h h h h h"
        "c c c c c c c c c c c c"
        "c c c c c c c c c c c c"
        "c c c c c c c c c c c c"
        "f f f f f f f f f f f f";
}

.header-form {
    grid-area: h;
}

.content-form {
    grid-area: c;
    background-color: rgb(243, 241, 241);
}

.picture-form {
    position: relative;
    right: -8%;
    top: 23%;
    float: left;
    width: 50%;
}

.picture-form img {
    width: 80%;
}

.form-part {
    width: 40%;
    height: 100vh;
    float: right;
    position: relative;
    top: 5%;
    right: 7%;
}

input[type=reset] {
    padding: 12px 20px;
}

input[type=submit] {
    padding: 12px 20px;
}

.footer-form {
    grid-area: f;
}

  /* --------FOOTER------- */

footer {
    grid-area: f;
    height: 15vh;
    padding: 1.5%;
    background-color: rgba(160, 104, 51, 0.877);
}

.copyright {
    text-align: center;
}

.social-links,
.social-links-services,
.social-links-form {
    margin-left: 38%;
    width: 30%;
}

.social-links li {
    display: inline-block;
    padding-left: 25%;
    margin-top: -3%;
}

.social-links-services li {
    display: inline-block;
    padding-left: 20%;
    margin-top: 3%;
}

.social-links-form li {
    display: inline-block;
    padding-left: 20%;
    margin-top: -3%;
}

.social-links a,
.social-links-services a, 
.social-links-form a {
    text-decoration: none;
    font-size: 150%;
    color: rgb(53, 62, 175);
}


/* MEDIA QUERIES*/
@media(max-width: 768px){
    .navbar {
        width: 100%;
        height: 20vh;
    }

    .navbar ul {
        font-size: 90%;
        margin-left: -2%;
    }

    .navbar .contact-bar {
        margin-left: -5%;
        font-size: 80%;
        margin-top: 1%;
    }

    .main-head {
        font-size: 250%;
    }

    .main-box img {
        width: 60%;
        padding-top: 5%;
    }

    .main-box:last-of-type {
        margin-bottom: 5%;
    }

    .floatleft, .floatright {
        height: 80vh;
    }

    .welcome {
        font-size: 170%;
    }

    .description {
        font-size: 90%;
    }

    .carousel-inner {
        height: 90vh;
    }

    .carousel-control-prev-icon, 
    .carousel-control-next-icon {
        position: relative;
        top: 15%;
    }

    .container .contact-bar {
        margin-top: 2.5%;
        font-size: 90%;
    }

    .menu a {
        margin-top: 10%;
    }

    .services:first-child {
        margin-top: 50%;
    }

    .copyright {
        margin-top: 2%;
    }

    .social-links-services {
        padding-top: 2%;
    }

    .container-form .contact-bar {
        margin-top: 6.5%;
        font-size: 90%;
    }

    .content-form {
        height: 95vh;
    }

    .picture-form img {
        width: 80%;
        margin-top: 20%;
    }

    .form-part {
        margin-top: 5%;
    }

    .container-form .contact-bar {
        width: 45%;
        margin-top: 1.5%;
    }
}

@media(max-width: 600px){
    .navbar ul {
        font-size: 90%;
        margin-left: 12%;
        margin-top: -4%;
    }

    .navbar .contact-bar {
        width: 100%;
        margin-left: -45%;
        font-size: 80%;
        margin-top: 10%;
    }

    .main-head {
        font-size: 150%;
    }
 
    .welcome {
        font-size: 145%;
    }

    .container .navbar {
        height: 25vh;
    }
    
    .container .contact-bar {
         font-size: 90%;
    }

    .border h2 {
        font-size: 120%;
    }

    .border p {
        font-size: 90%;
    }

    .tooltip {
        position: relative;
    }
    
    .services a::before {
        position: absolute;
        left: 25%;
        bottom: -30%;
        font-size: 85%;
    }

    .container-form .contact-bar {
        margin-top: 15%;
        font-size: 90%;
        }

    .picture-form img {
        margin-top: 60%;
    }

    .form-part {
        margin-top: 10%;
    } 

    .form-part .btn {
        padding: 3%;
    }

}
