
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Taviraj', serif;
}

html {
    width: 100%;
    overflow-x: hidden;
}

.row {
    max-width: 100%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}


/* --------NAV------- */

.navbar {
    height: 15vh;
    background-color: rgba(160, 104, 51, 0.877);
    border-bottom: 3px solid rgb(177, 177, 177);
}

.navbar ul {
    width: 100%;
    position: relative;
    top: 30%;
}

.navbar a:link,
.navbar a:visited {
    color: rgb(230, 227, 227);
    text-decoration: none;
    font-size: 110%;
}

.navbar a:hover,
.navbar a:active {
    border-bottom: 1px solid  rgb(230, 227, 227);
}

.navbar li {
    display: inline-block;
    padding-left: 4%;
    text-transform: uppercase;
}

.navbar .contact-bar {
    width: 40%;
    position: relative;
    bottom: 30%;
    left: 65%;
}

.navbar .contact-bar span {
    color: rgb(230, 227, 227);
    padding-left: 5%;
    font-size: 90%;
}

.contact-bar span a:hover {
    border-bottom: none;
}

.active-nav-link {
    border-bottom: 2px solid rgb(46, 48, 71);
}

/* --------MAIN PART - Home Page------- */

.main-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.609), rgba(0, 0, 0, 0.609)), url(/css/img/abstract-1850417_1280.jpg);
    padding: 20%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main-head {
    text-align: center;
    font-size: 380%;
    color: rgba(160, 104, 51, 0.877);
    animation: fade-in 2.5s;
}

.main-row {
    padding: 6% 0;
    background-color: rgb(246, 246, 255);
}

.main-box {
    position: relative;
    left: 16%;
}

.main-box:last-of-type {
    margin-top: 2%;
}

.main-box img {
    opacity: 0.8;
    width: 30%;
    margin-left: 3%;
    transform: scale(1.11);
    transition: transform 0.5s, opacity 0.5s;
}

.main-box img:hover {
    opacity: 1;
    transform: scale(1.07);
}

@keyframes fade-in {
    from { 
        opacity: 0;
        margin-right: -100%;
    }
    to   { 
        opacity: 1;
        margin-right: 0;
    }
  }


/* --------ABOUT ME/NAME------- */

.floatleft::after,
.floatright::after {
    clear: both;
}

.floatleft {
    float: left;
    width: 50%;
    height: 90vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/css/img/o_meni.jpg);
    background-position: center;
    background-size: cover;
}

.floatright {
    float: right;
    background-color: rgb(230, 227, 227);
    height: 90vh;
    width: 50%;
}

.about_me {
    margin-top: 15%;
    animation: mymove 2s;
}

.floatright h1 {
    margin-left: 50%;
    color: rgb(224, 158, 71);
}

.floatright p {
    margin-top: 10%;
    margin-left: 5%;
    width: 90%;
    text-indent: 5%;
}

.floatright a {
    font-size: 180%;
}

.skills {
    height: 30vh;
    width: 100%;
}

@keyframes mymove {
    from { 
        margin-top: 0%;
    }
    to   { 
       margin-top: 20%;
    }
  }

/* --------SERVICES------- */

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 15% 70% 15%; 
    grid-template-areas:
        "h h h h h h h h h h h h"
        "c c c c c c c c c c c c"
        "c c c c c c c c c c c c"
        "c c c c c c c c c c c c"
        "f f f f f f f f f f f f";
}

.header {
    grid-area: h;
}

.container .navbar ul {
    padding-top: 0.5%;
}

.container .contact-bar {
   position: relative;
   left: 65%;
   width: 40%;
   margin-top: 2%;
}

.content {
    grid-area: c;
    background-color: rgb(223, 219, 219);
}

.content h1 {
    padding: 1% 0 1% 0; 
    text-align: center;
}

.content h1:after {
    display: block;
    height: 2px;
    background-color: rgba(160, 104, 51, 0.877);
    content: " ";
    width: 20%;
    margin: 1% 0 0 45%;
}

.text {
    margin: 5% 3% 0 3%;
    font-size: 80%;
}

.border {
    background-color: rgb(238, 238, 238);
    border-style: ridge;
    margin: 2% 0;
    padding: 2% 1%;
    animation: move 2.5s;
    height: 110px;
}

.border:last-child {
    margin-bottom: 5%;
}

.work,
.education {
    width: 25%;
    margin: 0 auto;
}

.work i,
.education i {
    float: left;
    font-size: 180%;
    line-height: 50px;
}

.work h1 {
    line-height: 45px;
}

.work_experience,
.education_card {
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    animation: move 2.5s;
}

.work_experience_left,
.work_experience_right {
    border-style: inherit;
    width: 46%;
    height: 40vh;
    background-color: rgb(243, 243, 243);
    padding: 2% 1% 2% 4%;
}

.work_experience_left {
    float: left;
    margin-right: 5%;
} 

.work_experience_right {
    width: 46%;
    float: right;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

.work_experience h3,
.work_experience h4,
.work_experience li,
.education_card {
    font-size: 120%;
}

.education {
    width: 15%;
}

.education_card {
    border-style: inherit;
    background-color: rgb(243, 243, 243);
    padding: 2% 1% 2% 4%;
}

@keyframes move {
    from {
        opacity: 0;
        transform: translateY(200px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*------Carousel-------*/

.carousel-inner {
    width: 80%;
    height: 90vh;
    margin: 0 auto;
}
.carousel-item img {
    width: 100%;
    background-position: center;
    background-size: cover;
}

.carousel-control-prev-icon, 
.carousel-control-next-icon {
    position: relative;
    top: 25%;
}

  /* --------FOOTER------- */

footer {
    grid-area: f;
    height: 10vh;
    background-color: rgba(160, 104, 51, 0.877);
    border-top: 3px solid rgb(207, 205, 205);
}

.copyright {
    text-align: center;
    font-size: 90%;
    margin-top: 1.5%;
}

/* MEDIA QUERIES*/
@media(max-width: 768px){
    .navbar {
        width: 100%;
        height: 20vh;
    }

    .navbar ul {
        font-size: 90%;
        margin-left: -2%;
    }

    .navbar .contact-bar {
        margin-left: -5%;
        font-size: 80%;
        margin-top: 1%;
    }

    .main-head {
        font-size: 250%;
    }

    .main-box img {
        width: 60%;
        padding-top: 5%;
    }

    .main-box:last-of-type {
        margin-bottom: 5%;
    }

    .floatleft, .floatright {
        height: 80vh;
    }

    .welcome {
        font-size: 160%;
        margin-right: 30%;
    }

    .description {
        font-size: 90%;
    }

    .carousel-inner {
        height: 90vh;
    }

    .carousel-control-prev-icon, 
    .carousel-control-next-icon {
        position: relative;
        top: 15%;
    }

    .container .contact-bar {
        margin-top: 2.5%;
        font-size: 90%;
    }

    .menu a {
        margin-top: 10%;
    }

    .services:first-child {
        margin-top: 50%;
    }

    .copyright {
        margin-top: 2%;
    }


    .container-form .contact-bar {
        margin-top: 6.5%;
        font-size: 90%;
    }

    .content-form {
        height: 95vh;
    }

    .picture-form img {
        width: 80%;
        margin-top: 20%;
    }

    .form-part {
        margin-top: 5%;
    }

    .container-form .contact-bar {
        width: 45%;
        margin-top: 1.5%;
    }
}

@media(max-width: 600px){
    .navbar ul {
        font-size: 90%;
        margin-left: 12%;
        margin-top: -4%;
    }

    .navbar .contact-bar {
        width: 100%;
        margin-left: -45%;
        font-size: 80%;
        margin-top: 10%;
    }

    .main-head {
        font-size: 150%;
    }
 
    .welcome {
        font-size: 145%;

    }

    .container .navbar {
        height: 25vh;
    }
    
    .container .contact-bar {
         font-size: 90%;
    }

    .border h2 {
        font-size: 120%;
    }

    .border p {
        font-size: 90%;
    }

    .tooltip {
        position: relative;
    }
    
    .services a::before {
        position: absolute;
        left: 25%;
        bottom: -30%;
        font-size: 85%;
    }

    .container-form .contact-bar {
        margin-top: 15%;
        font-size: 90%;
        }

    .picture-form img {
        margin-top: 60%;
    }

    .form-part {
        margin-top: 10%;
    } 

    .form-part .btn {
        padding: 3%;
    }

}
