 @import url('https://fonts.googleapis.com/css2?family=Taviraj&display=swap');

 :root {
     --orange-color:  rgba(160, 104, 51, 0.877);
     --grey-color: rgb(230, 227, 227);
     --border-color:  rgb(177, 177, 177);
     --card-color: rgb(243, 243, 243);
 }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Taviraj', serif;
}

html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.row {
    max-width: 100%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

/* --------NAV------- */

.navbar {
    height: 15vh;
    background-color: var(--orange-color);
    border-bottom: 3px solid var(--border-color);
}

.navbar ul {
    width: 100%;
    position: relative;
    top: 30%;
}

.navbar a:link,
.navbar a:visited {
    color: var(--grey-color);
    text-decoration: none;
    font-size: 110%;
}

.navbar a:hover,
.navbar a:active {
    border-bottom: 1px solid var(--grey-color);
}

.navbar li {
    display: inline-block;
    padding-left: 4%;
    text-transform: uppercase;
}

.active-nav-link {
    border-bottom: 2px solid rgb(46, 48, 71);
}

.navbar .contact-bar {
    width: 40%;
    position: relative;
    bottom: 30%;
    left: 65%;
}

.navbar .contact-bar span {
    color: var(--grey-color);
    padding-left: 5%;
    font-size: 90%;
}

.contact-bar span a:hover {
    border-bottom: none;
}

/* --------Home Page----- */

.main-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.609), rgba(0, 0, 0, 0.609)), url(/css/img/abstract-1850417_1280.jpg);
    padding: 20%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main-head{
    text-align: center;
    font-size: 380%;
    color: var(--orange-color);
    animation: fade-in 2.5s;
    
}

.main-section span p {
    font-size: 200%;
    color: var(--orange-color);
    position: relative;
    left: 70%;
    animation: fade-in 2.5s;
}

.cover_section {
    width: 100%;
    height: 600px;
}

.cover_letter {
    width: 60%;
    margin: 0 auto;
    padding-top: 150px;
    line-height: 35px;
}

.cover_letter p{
    text-indent: 40px;
    font-style: inherit;
    font-size: 105%;
    font-weight: inherit;
    letter-spacing: 0.5px;
    font-variant-ligatures: discretionary-ligatures;
}

@keyframes fade-in {
    from { 
        opacity: 0;
    }
    to   { 
        opacity: 1;
    }
  }


/* --------ABOUT ME------- */

.wrap {
    height: 90vh;
}

.floatleft {
    float: left;
    width: 50%;
    height: 90vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/css/img/o_meni.jpg);
    background-position: center;
    background-size: cover;
}

.floatright {
    float: right;
    background-color: var(--grey-color);
    height: 90vh;
    width: 50%;
}

.floatleft::after,
.floatright::after {
    clear: both;
}

.about_me {
    margin-top: 15%;
    animation: mymove 2s;
}

.about_me a {
    z-index: 2;
    position: relative;
}

.floatright h1 {
    margin-left: 50%;
    color: var(--orange-color);
}

.personal {
    text-transform: uppercase;
    font-size: 180%;
}

.floatright p {
    margin-top: 10%;
    margin-left: 5%;
    width: 90%;
    text-indent: 5%;
}

.floatright a {
    font-size: 180%;
}

.skills {
    height: 400px;
    width: 100%;
    margin-top: 10px;
}

.skills h1,
.interests h1 {
    font-size: 220%;
    text-align: center;
    margin-top: 80px;
    text-transform: uppercase;
    color: rgb(70, 69, 69);
}

.skills ul {
    margin-top: 70px;
    text-align: center;
}

.skills li {
    width: 150px;
    height: 150px;
    background-color: var(--orange-color);
    border-radius: 50%;
    display: inline-block;
    margin-right: 40px;
    text-align: center;
    padding: 55px 5px;
    color: var(--grey-color);
    box-shadow: 0 5px 5px rgb(202, 202, 202);
}

.interests {
    height: 400px;
    margin-top: 20px;
}

.interests h1 {
    margin-top: 20px;
}

.gallery {
    text-align: center;
    margin-top: 80px;
}

.gallery img {
    padding: 5px;
    transition: 1s;
    width: 200px;
}

.gallery img:hover {
    transform: scale(1.1);
    opacity: 0.7;
}

@keyframes mymove {
    from { 
        margin-top: 0%;
    }
    to   { 
       margin-top: 15%;
    }
  }

/* --------W&E------- */

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 15% 70% 15%; 
    grid-template-areas:
        "h h h h h h h h h h h h"
        "c c c c c c c c c c c c"
        "c c c c c c c c c c c c"
        "c c c c c c c c c c c c"
        "f f f f f f f f f f f f";
}

.header {
    grid-area: h;
}

.container .navbar ul {
    padding-top: 0.5%;
}

.container .contact-bar {
   position: relative;
   left: 65%;
   width: 40%;
   margin-top: 2%;
}

.content {
    grid-area: c;
    background-color: rgb(223, 219, 219);
}

.content h1 {
    padding: 1% 0 1% 0; 
    text-align: center;
}

.content h1:after {
    display: block;
    height: 2px;
    background-color: var(--orange-color);
    content: " ";
    width: 20%;
    margin: 1% 0 0 45%;
}

.text {
    margin: 5% 3% 0 3%;
    font-size: 80%;
}

.border {
    background-color: rgb(238, 238, 238);
    border-style: ridge;
    margin: 2% 0;
    padding: 2% 1%;
    animation: move 2.5s;
    height: 110px;
}

.border:last-child {
    margin-bottom: 5%;
}

.work,
.education {
    width: 25%;
    margin: 0 auto;
}

.work i,
.education i {
    float: left;
    font-size: 180%;
    line-height: 50px;
}

.work h1 {
    line-height: 45px;
}

.work_experience,
.education_card {
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    animation: move 2.5s;
}

.work_experience_left,
.work_experience_right {
    border-style: inherit;
    width: 46%;
    height: 40vh;
    background-color: var(--card-color);
    padding: 2% 1% 2% 4%;
}

.work_experience_left {
    float: left;
    margin-right: 5%;
} 

.work_experience_right {
    width: 46%;
    float: right;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

.work_experience h4 {
    padding-bottom: 10px;
}

.work_experience_left,
.work_experience_right,
.education_card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.work_experience h3,
.work_experience h4,
.work_experience li,
.education_card {
    font-size: 120%;
}

.education {
    width: 15%;
}

.education_card {
    border-style: inherit;
    background-color: var(--card-color);
    padding: 2% 1% 2% 4%;
}

@keyframes move {
    from {
        opacity: 0;
        transform: translateY(200px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

  /* --------FOOTER------- */

footer {
    grid-area: f;
    height: 10vh;
    background-color: var(--orange-color);
    border-top: 3px solid var(--border-color);

}

.copyright {
    text-align: center;
    font-size: 90%;
    margin-top: 1.5%;
}

/* MEDIA QUERIES*/
@media(max-width: 768px){
    .navbar {
        width: 100%;
        height: 20vh;
    }

    .navbar ul {
        font-size: 90%;
        margin-left: -2%;
    }

    .navbar .contact-bar {
        margin-left: -5%;
        font-size: 80%;
        margin-top: 1%;
    }

    .main-head {
        font-size: 240%;
        margin-top: 10%;
    }

    .main-section span p {
        font-size: 150%;
    }
    
    .cover_letter {
        width: 80%;
        padding-top: 140px;
        line-height: 30px;
    }
    
    .cover_letter p {
        font-size: 95%;
    }

    .wrap {
        height: 60vh;
    }

    .floatleft, .floatright {
        height: 70vh;
    }

    .personal {
        font-size: 110%;
        width: 50%;
        margin-right: 30%;
    }

    .description {
        font-size: 90%;
    }

    .skills {
        margin-top: 20px;
    }

    .skills h1,
    .interests h1 {
        font-size: 180%;
        margin-top: 80px;
}

    .skills li {
        margin-top: 10px;
}

    .interests {
        height: 500px;
        margin-left: 20px;
}

    .gallery {
        text-align: center;
        margin-top: 80px;
}

    .gallery img {
        padding: 5px;
        transition: 1s;
        width: 200px;
}

    .gallery img:hover {
        transform: scale(1.1);
        opacity: 0.7;
}

    .container .contact-bar {
        margin-top: 6%;
        font-size: 80%;
    }

    .copyright {
        margin-top: 2%;
    }

    .work {
        width: 200px;
    }

    .education {
        width: 120px;
    }

    .work_experience {
        width: 100%;
    }

    .work h1, 
    .education h1,
    .work i, 
    .education i {
        font-size: 130%;
        line-height: 50px;
    }

    .work_experience h3,
    .work_experience h4,
    .work_experience li,
    .education_card {
        font-size: 90%;
}

    .work_experience_left h4, 
    .work_experience_right h4 {
        padding-bottom: 10px;
}
}

@media(max-width: 600px){

    .navbar ul {
        font-size: 90%;
        margin-left: 25%;
        margin-top: 2px;
    }

    .navbar .contact-bar {
        width: 100%;
        margin-left: -45%;
        font-size: 80%;
        margin-top: 10%;
    }

    .main-head {
        font-size: 150%;
    }

    .cover_section {
        height: 80vh;
    }

    .cover_letter {
        width: 70%;
        padding-top: 75px;
    }
    
    .cover_letter p {
        font-size: 70%;
    }

    .wrap {
        height: 50vh;
    }
 
    .personal {
        font-size: 90%;
    }

    .description {
        font-size: 70%;
    }

    .skills {
        padding-top: 60px;
    }

    .skills ul {
        margin-left: 20px;
    }

    .interests {
        height: 750px;
    }

    .interests h1 {
        padding-top: 150px;
        margin-bottom: 3px;
    }

    .container .navbar {
        height: 15vh;
    }

    .container .navbar ul {
        position: relative;
        top: 4px;
    }
    
    .container .contact-bar {
         font-size: 90%;
         position: relative;
         top: -50px;
    }

    .border h2 {
        font-size: 120%;
    }

    .border p {
        font-size: 90%;
    }

    .work_experience {
        margin-left: 30px;
    }

    .work_experience_left,
    .work_experience_right {
        width: 90%;
        height: 40%;
        float: none;
        padding: 2% 1% 2% 8%;
    }

    .work_experience_left {
        margin-bottom: 30px;
    }

    .education_card {
        padding: 2% 1% 2% 6%;
    }

}
